<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tangti</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/tangti.styles.css" asp-append-version="true" />
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <a href="/">Tangti</a>
        </div>
        <ul class="links" id='links'>
            <li><a href="/">Home</a></li>
            <li><a href="/About">About us</a></li>
            <li><a href="/Event">Events</a></li>
            <li><a href="/Blog">Blogs</a></li>
            <li><a href="/Profile">History</a></li>
        </ul>
        <div>
            <a href="/Login" class="action_btn" id="loginBtn">Login</a>
            <a href="/Profile" class="action_btn" id="profileLink">Profile</a>
            <button class="action_btn" id="logoutBtn" onclick="logout()">Logout</button>
        </div>
        <div class="toggle_btn">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </div>

        <div class="dropdown_menu">
            <li><a href="/">Home</a></li>
            <li><a href="/About">About us</a></li>
            <li><a href="/Event">Events</a></li>
            <li><a href="/">History</a></li>
            <li><a href="/Blog">Blogs</a></li>
           
        </div>
    </div>
    <div class="body-text">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/119d8665c4.js" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            checkLogin();
        });

        const toggleBtn = document.querySelector('.toggle_btn');
        const dropdownMenu = document.querySelector('.dropdown_menu');
        toggleBtn.onclick = function () {
            dropdownMenu.classList.toggle('open');
            const isOpen = dropdownMenu.classList.contains('open');
            if (isOpen) {
                toggleBtn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>`;
            } else {
                toggleBtn.innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>`;
            }
        }

        function checkLogin() {
            const id = localStorage.getItem('id');
            if (id) {
                document.getElementById('loginBtn').classList.add('action_btn_hidden');
                document.getElementById('profileLink').classList.remove('action_btn_hidden');
                document.getElementById('logoutBtn').classList.remove('action_btn_hidden');
                document.getElementById('loginDropdown').style.display = "none";
            }
            else {
                

                document.getElementById('loginBtn').classList.remove('action_btn_hidden');
                document.getElementById('profileLink').classList.add('action_btn_hidden');
                document.getElementById('logoutBtn').classList.add('action_btn_hidden');
            }
        }

        //get profile by id fetch
        fetch('/api/user/' + localStorage.getItem('id'))
            .then(response => response.json())
            .then(data => {
                console.log(data.role);
                if (data.role == "Admin") {
                    // Add link where id = links
                    var link = document.getElementById('links')
                    
                    var reportLink = document.createElement('li');
                    //hide bullet
                    reportLink.style.listStyleType = "none";

                    reportLink.innerHTML = '<a b-f4e90i3eyj href="/Report">Report</a>';
                    link.appendChild(reportLink);

                    var adminPath = document.getElementById('adminPath');
                    adminPath.href = "/Report";

                    console.log('role admin');

                }
            
            });


        function logout() {
            localStorage.removeItem('id');
            window.location.href = '/';
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
