@model IEnumerable<tangti.Models.UserModel>
@{
    ViewData["Title"] = "Profile Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <title>@ViewData["Title"] - tangti</title>
</head>

<body>
    <div class="container">
        <div class="option">
            <nav>
                <div class="nav-con">
                    <div class="menu">
                        <li><button class="option_button clicked" id="option1"
                                onclick="showContainer('container1'); changeColor('option1'); hidepagination('option1')"
                                onmouseover="growButton(this)" onmouseout="shrinkButton(this)">Personal Info</button>
                        </li>
                        <li>
                            <button class="option_button" id="option2"
                                onclick="showContainer('container2'); changeColor('option2'); hidepagination('option2')"
                                onmouseover="growButton(this)" onmouseout="shrinkButton(this)">My Project</button>
                        </li>
                        <li>
                            <button class="option_button" id="option3"
                                onclick="showContainer('container3'); changeColor('option3'); hidepagination('option2')"
                                onmouseover="growButton(this)" onmouseout="shrinkButton(this)">My Libraly</button>
                        </li>
                    </div>
                    <select id="dropdownMenu" onchange="dropdownSelectionChanged()"></select>
                </div>
            </nav>
        </div>
        <div class="tabShow" id="container1">
            <ul>
                <div class="circular-image">
                    <input type="file" id="fileInput" style="display: none;" accept="image/*">
                    <label for="fileInput"></label>
                    <img id="photo" src="https://pbs.twimg.com/profile_images/477371167880134657/wXovvyZB_400x400.jpeg"
                        alt="Original Photo" onclick="changePhoto()">
                </div>
                <h1> Personal Info </h1>
                <div class="textlist">
                    <h2> First name </h2>
                    <div class="input" id="userFirstName"></div>

                    <h2> Last name </h2>
                    <div class="input" id="userLastName"></div>

                    <h2> Email </h2>
                    <div class="input" id="userEmail"></div>

                    <h2> Telephone Number </h2>
                    <div class="input" id="userPhone"></div>

                </div>
                <button class="button" id="editButton" onclick="toggleButtons()" onmouseover="growButton(this)"
                    onmouseout="shrinkButton(this)">Edit</button>
                <button class="button" id="saveButton" onclick="saveChanges()" style="background-color: green;"
                    onmouseover="growButton(this)" onmouseout="shrinkButton(this)">Save</button>
                <button class="button" id="cancelButton" onclick="cancelChanges()" style="background-color: red;"
                    onmouseover="growButton(this)" onmouseout="shrinkButton(this)">Cancel</button>
            </ul>
        </div>
        <div class="tabShow" id="container2">
            <article class="card">
                <figure class="card-image">
                    <img src="https://media.istockphoto.com/id/974238866/photo/audience-listens-to-the-lecturer-at-the-conference.jpg?s=612x612&amp;w=0&amp;k=20&amp;c=p_BQCJWRQQtZYnQlOtZMzTjeB_csic8OofTCAKLwT0M="
                        alt="An orange painted blue, cut in half laying on a blue background">
                </figure>
                <div class="card-container">
                    <div class="card-category">
                        <div>UX/UI Design</div>
                    </div>
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5">
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4">
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3">
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2">
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1">
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>
                <div class="card-header">
                    <a href="#">Event 1</a>
                    <button class="icon-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            display="block" id="Heart">
                            <path
                                d="M7 3C4.239 3 2 5.216 2 7.95c0 2.207.875 7.445 9.488 12.74a.985.985 0 0 0 1.024 0C21.125 15.395 22 10.157 22 7.95 22 5.216 19.761 3 17 3s-5 3-5 3-2.239-3-5-3z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="member-container">
                    <div class="member">
                        <div>0 / 10 members</div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-meta card-meta--views">
                        <img src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?size=338&amp;ext=jpg&amp;ga=GA1.1.1395880969.1709164800&amp;semt=ais"
                            alt="Avatar" class="avatar">
                        <div class="user-profile">
                            <div class="name">Clara R. Altman</div>
                            <div class="role">Host</div>
                        </div>
                        <div class="card-meta card-meta--date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" display="block" id="Calendar">
                                <rect x="2" y="4" width="20" height="18" rx="4"></rect>
                                <path d="M8 2v4"></path>
                                <path d="M16 2v4"></path>
                                <path d="M2 10h20"></path>
                            </svg>
                            01/10/24
                        </div>
                    </div>
                    <button class="card-button"> details </button>
                </div>
            </article>
        </div>

        <div class="tabShow" id="container3">
            <article class="card">
                <figure class="card-image">
                    <img src="https://media.istockphoto.com/id/974238866/photo/audience-listens-to-the-lecturer-at-the-conference.jpg?s=612x612&amp;w=0&amp;k=20&amp;c=p_BQCJWRQQtZYnQlOtZMzTjeB_csic8OofTCAKLwT0M="
                        alt="An orange painted blue, cut in half laying on a blue background">
                </figure>
                <div class="card-container">
                    <div class="card-category">
                        <div>UX/UI Design</div>
                    </div>
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5">
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4">
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3">
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2">
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1">
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>
                <div class="card-header">
                    <a href="#">Event 2</a>
                    <button class="icon-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            display="block" id="Heart">
                            <path
                                d="M7 3C4.239 3 2 5.216 2 7.95c0 2.207.875 7.445 9.488 12.74a.985.985 0 0 0 1.024 0C21.125 15.395 22 10.157 22 7.95 22 5.216 19.761 3 17 3s-5 3-5 3-2.239-3-5-3z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="member-container">
                    <div class="member">
                        <div>0 / 10 members</div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-meta card-meta--views">
                        <img src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?size=338&amp;ext=jpg&amp;ga=GA1.1.1395880969.1709164800&amp;semt=ais"
                            alt="Avatar" class="avatar">
                        <div class="user-profile">
                            <div class="name">Clara R. Altman</div>
                            <div class="role">Host</div>
                        </div>
                        <div class="card-meta card-meta--date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" display="block" id="Calendar">
                                <rect x="2" y="4" width="20" height="18" rx="4"></rect>
                                <path d="M8 2v4"></path>
                                <path d="M16 2v4"></path>
                                <path d="M2 10h20"></path>
                            </svg>
                            01/10/24
                        </div>
                    </div>
                    <button class="card-button"> details </button>
                </div>
            </article>
        </div>

        <div class="pagination" id="pagination">
            <div class="pagebutton active"></div>
            <div class="pagebutton"></div>
            <div class="pagebutton"></div>
            <div class="pagebutton"></div>
        </div>
    </div>

    <script>
        function changePhoto() {
            var photo = document.getElementById('photo');
            var fileInput = document.getElementById('fileInput');
            fileInput.onchange = function (event) {
                var file = event.target.files[0];
                var reader = new FileReader();
                reader.onload = function (e) {
                    photo.src = e.target.result;
                    photo.alt = 'Selected Photo';
                };
                reader.readAsDataURL(file);
            };
            fileInput.click();
        }

        function showContainer(containerId) {
            var containers = document.querySelectorAll('.tabShow');
            var pagination = document.getElementsByClassName('pagination');
            containers.forEach(function (tabShow) {
                if (tabShow.id !== containerId) {
                    tabShow.style.display = 'none';
                }
            });

            var containerToShow = document.getElementById(containerId);
            if (containerId === 'container1')
                containerToShow.style.display = 'flex';

            else
                containerToShow.style.display = 'flex';

        }

        function hidepagination(option) {
            var pagination = document.getElementById('pagination');
            if (option === 'option1') {
                pagination.style.display = 'none';
            }
            else {
                pagination.style.display = 'flex';
            }
        }

        function toggleButtons() {
            var editButton = document.getElementById('editButton');
            var saveButton = document.getElementById('saveButton');
            var cancelButton = document.getElementById('cancelButton');
            var textInput1 = document.getElementById('textInput1');
            var textInput2 = document.getElementById('textInput2');
            var textInput3 = document.getElementById('textInput3');
            var textInput4 = document.getElementById('textInput4');
            var textInput5 = document.getElementById('textInput5');

            if (editButton.style.display !== 'none') {
                editButton.style.display = 'none';
                saveButton.style.display = 'flex';
                cancelButton.style.display = 'flex';

                textInput1.readOnly = false;
                textInput2.readOnly = false;
                textInput3.readOnly = false;
                textInput4.readOnly = false;
                textInput5.readOnly = false;
                document.getElementById('buttonContainer').style.textAlign = 'center';
            }
            else {
                editButton.style.display = 'flex';
                saveButton.style.display = 'none';
                cancelButton.style.display = 'none';

                textInput1.readOnly = true;
                textInput2.readOnly = true;
                textInput3.readOnly = true;
                textInput4.readOnly = true;
                textInput5.readOnly = true;
                document.getElementById('buttonContainer').style.textAlign = 'center';
            }
        }

        function saveChanges() {
            alert('Changes saved!');
            toggleButtons();
        }

        function cancelChanges() {
            alert('Changes canceled!');
            toggleButtons();
        }

        function growButton(button) {
            button.style.transform = "scale(1.1)";
        }

        function shrinkButton(button) {
            button.style.transform = "scale(1)";
        }

        window.onload = function () {
            var menuBtnContainer = document.getElementsByClassName("menu");
            var dropdownMenu = document.getElementById("dropdownMenu");
            var navBtns = document.getElementsByClassName("option_button");

            for (var i = 0; i < navBtns.length; i++) {
                var option = document.createElement("option");
                option.text = navBtns[i].innerText;
                dropdownMenu.add(option);
            }

            for (var i = 0; i < navBtns.length; i++) {
                navBtns[i].addEventListener("click", function () {
                    var index = Array.prototype.indexOf.call(navBtns, this);
                    dropdownMenu.selectedIndex = index;
                });
            }
        };

        function dropdownSelectionChanged() {
            var dropdownMenu = document.getElementById("dropdownMenu");
            var contentContainers = document.querySelectorAll('.tabShow');
            var selectedIndex = dropdownMenu.selectedIndex;
            for (var i = 0; i < contentContainers.length; i++) {
                if (i === selectedIndex) {
                    contentContainers[i].style.display = 'flex';
                } else {
                    contentContainers[i].style.display = 'none';
                }
            }
        }

        var prevButtonId = 'option1';

        function changeColor(buttonId) {
            var button = document.getElementById(buttonId);

            if (prevButtonId !== null) {
                document.getElementById(prevButtonId).classList.remove('clicked');
            }

            button.classList.add('clicked');
            prevButtonId = buttonId;
        }

        const user_id = localStorage.getItem('id');
        document.addEventListener('DOMContentLoaded', function () {
            const user_response = fetch(`https://kmitltangti.azurewebsites.net/api/user/${user_id}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    return response.json();
                }
            }).then(data => {
                console.log(data)
                document.getElementById('userFirstName').innerHTML = data.firstName;
                document.getElementById('userLastName').innerHTML = data.lastName;
                document.getElementById('userEmail').innerHTML = data.email;
                document.getElementById('userPhone').innerHTML = data.phone;
            }).catch(error => {
                console.error(error);
            });

        });
    </script>

</body>