@model IEnumerable<tangti.Models.UserModel>
@{
    ViewData["Title"] = "Profile Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <title>@ViewData["Title"] - tangti</title>
</head>

<body>
    <div class="container">
        <div class="tabShow" id="container1">
            <ul>
                <div class="circular-image">
                    <input type="file" id="fileInput" style="display: none;" accept="image/*">
                    <label for="fileInput"></label>
                    <img id="photo" src="https://pbs.twimg.com/profile_images/477371167880134657/wXovvyZB_400x400.jpeg"
                        alt="Original Photo" onclick="changePhoto()">
                </div>
                <h1> Personal Info </h1>
                <div class="textlist">
                    <h2> First name </h2>
                    <div class="input" id="userFirstName"></div>

                    <h2> Last name </h2>
                    <div class="input" id="userLastName"></div>

                    <h2> Email </h2>
                    <div class="input" id="userEmail"></div>

                    <h2> Telephone Number </h2>
                    <div class="input" id="userPhone"></div>

                </div>
                <button class="button" id="editButton" onclick="toggleButtons()" onmouseover="growButton(this)"
                    onmouseout="shrinkButton(this)">Edit</button>
                <button class="button" id="saveButton" onclick="saveChanges()" style="background-color: green;"
                    onmouseover="growButton(this)" onmouseout="shrinkButton(this)">Save</button>
                <button class="button" id="cancelButton" onclick="cancelChanges()" style="background-color: red;"
                    onmouseover="growButton(this)" onmouseout="shrinkButton(this)">Cancel</button>
            </ul>
        </div>
    </div>

    <script>
        function changePhoto() {
            var photo = document.getElementById('photo');
            var fileInput = document.getElementById('fileInput');
            fileInput.onchange = function (event) {
                var file = event.target.files[0];
                var reader = new FileReader();
                reader.onload = function (e) {
                    photo.src = e.target.result;
                    photo.alt = 'Selected Photo';
                };
                reader.readAsDataURL(file);
            };
            fileInput.click();
        }

        function showContainer(containerId) {
            var containers = document.querySelectorAll('.tabShow');
            var pagination = document.getElementsByClassName('pagination');
            containers.forEach(function (tabShow) {
                if (tabShow.id !== containerId) {
                    tabShow.style.display = 'none';
                }
            });

            var containerToShow = document.getElementById(containerId);
            if (containerId === 'container1')
                containerToShow.style.display = 'flex';

            else
                containerToShow.style.display = 'flex';

        }

        function hidepagination(option) {
            var pagination = document.getElementById('pagination');
            if (option === 'option1') {
                pagination.style.display = 'none';
            }
            else {
                pagination.style.display = 'flex';
            }
        }

        function toggleButtons() {
            var editButton = document.getElementById('editButton');
            var saveButton = document.getElementById('saveButton');
            var cancelButton = document.getElementById('cancelButton');
            var textInput1 = document.getElementById('textInput1');
            var textInput2 = document.getElementById('textInput2');
            var textInput3 = document.getElementById('textInput3');
            var textInput4 = document.getElementById('textInput4');
            var textInput5 = document.getElementById('textInput5');

            if (editButton.style.display !== 'none') {
                editButton.style.display = 'none';
                saveButton.style.display = 'flex';
                cancelButton.style.display = 'flex';

                textInput1.readOnly = false;
                textInput2.readOnly = false;
                textInput3.readOnly = false;
                textInput4.readOnly = false;
                textInput5.readOnly = false;
                document.getElementById('buttonContainer').style.textAlign = 'center';
            }
            else {
                editButton.style.display = 'flex';
                saveButton.style.display = 'none';
                cancelButton.style.display = 'none';

                textInput1.readOnly = true;
                textInput2.readOnly = true;
                textInput3.readOnly = true;
                textInput4.readOnly = true;
                textInput5.readOnly = true;
                document.getElementById('buttonContainer').style.textAlign = 'center';
            }
        }

        const user_id = localStorage.getItem('id');

        document.addEventListener('DOMContentLoaded', function () {
            const user_response = fetch(`https://kmitltangti.azurewebsites.net/api/user/${user_id}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(response => {
                if (response.ok) {
                    return response.json();
                }
            }).then(data => {
                document.getElementById('userFirstName').innerHTML = data.firstName;
                document.getElementById('userLastName').innerHTML = data.lastName;
                document.getElementById('userEmail').innerHTML = data.email;
                document.getElementById('userPhone').innerHTML = data.phone;
            }).catch(error => {
                console.error(error);
            });
        });
    </script>

</body>