@model IEnumerable<tangti.Models.Event>

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tangti</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>

<body>
    <div class="container">
        <div class="banner">
            <h1 class="title-banner">Recommended For You</h1>
            <p class="description-banner">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos corrupti
                sequi
                eum provident vitae aperiam nisi illo quasi itaque, reiciendis iure perspiciatis odit laboriosam
                accusamus
                quia
                facere assumenda dicta dolores.</p>
        </div>

        <div class="search_input">
            <input type="search" placeholder="Find Out More Event ..." />
            <i class="fa fa-search"></i>
        </div>
		
        <div class="card-list">
		@foreach (var item in @Model) {
            <article class="card">
                <figure class="card-image">
                    <img src=@item.Image
                        alt="An orange painted blue, cut in half laying on a blue background" />
                </figure>
                <div class="card-container">
                    <div class="card-category">
                        <div>UX/UI Design</div>
                    </div>
                    <div class="rate">
                        <input type="radio" id="star5" name="rate" value="5" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" name="rate" value="4" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" name="rate" value="3" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" name="rate" value="2" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" name="rate" value="1" />
                        <label for="star1" title="text">1 star</label>
                    </div>
                </div>
                <div class="card-header">
                    <a href="#">@item.Title</a>
                    <button class="icon-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            display="block" id="Heart">
                            <path
                                d="M7 3C4.239 3 2 5.216 2 7.95c0 2.207.875 7.445 9.488 12.74a.985.985 0 0 0 1.024 0C21.125 15.395 22 10.157 22 7.95 22 5.216 19.761 3 17 3s-5 3-5 3-2.239-3-5-3z" />
                        </svg>
                    </button>
                </div>
                <div class="member-container">
                    <div class="member">
                        <div>0 / @item.EnrollLimit members</div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-meta card-meta--views">
                        <img src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?size=338&ext=jpg&ga=GA1.1.1395880969.1709164800&semt=ais"
                            alt="Avatar" class="avatar">
                        <div class="user-profile">
                            <div class="name">Clara R. Altman</div>
                            <div class="role">Host</div>
                        </div>
                        <div class="card-meta card-meta--date">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" display="block" id="Calendar">
                                <rect x="2" y="4" width="20" height="18" rx="4" />
                                <path d="M8 2v4" />
                                <path d="M16 2v4" />
                                <path d="M2 10h20" />
                            </svg>
                            01/10/24
                        </div>
                    </div>
                    <button class="card-button">Join Event</button>
                </div>

            </article>
		}
		</div>

    <div class="pagination">
        <div class="button active"></div>
        <div class="button"></div>
        <div class="button"></div>
        <div class="button"></div>
    </div>
    <script>
        function handlePagination() {
            var buttons = document.querySelectorAll('.pagination .button');

            buttons.forEach(function (button, index) {
                button.addEventListener('click', function () {
                    buttons.forEach(function (btn) {
                        btn.classList.remove('active');
                    });
                    button.classList.add('active');
                    loadData(index + 1);
                });
            });
        }

        function loadData(pageIndex) {
            console.log('Loading data for page ' + pageIndex);
        }
        document.addEventListener('DOMContentLoaded', function () {
            handlePagination();
        });
    </script>
    </div>
</body>