@{
    ViewData["Title"] = "About Page";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tangti</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
</head>

<body>
    <div class="heading">
        <h1>About us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam illum quos distinctio, in nobis aliquid numquam
            architecto omnis unde incidunt. Repellat quis rem a illo magnam, doloremque facere aperiam nesciunt.</p>
    </div>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="https://www.eventbrite.com/blog/wp-content/uploads/2023/02/Frame-1-3-min-1-3.png" />
            </div>
            <div class="about-content">
                <h2>Tangti</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis dignissimos cupiditate,
                    nesciunt officia incidunt aut temporibus rerum aspernatur assumenda possimus et? Consequuntur
                    tempora
                    aperiam commodi blanditiis laborum perspiciatis harum libero?
                </p>
            </div>
        </section>
    </div>
</body>