body {
    background-color: #fbf0d4;
    background: #fbf0d4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading {
    width: 100%;
    margin: 20px auto;
}

.heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
}

.heading h1::after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #FC611F;
}

/* Custom styles for the form container */
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/* Custom styles for the form inside the container */
.form-container form {
    padding: 20px;
    border-radius: 8px;
}
.form-control {
    background: #f3f2f2;
    border-radius: 50px;
    margin-top: 10px;
}

.control-label{
   color: #666;
   margin-top: 30px;
}


.btn-primary {
    padding: 8px 24px ;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #C2C2C2;
    color: #fff;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    margin-left: 30%;
  
  }
  
  .btn-primary:hover {
    cursor: pointer;
    background-color: #FF7426;
  }
