.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5% auto;
    text-align: center;
}

h3 {
    font-size: 20px;
    position: relative;
    color: rgb(150, 148, 148);
    margin: 3% 15%;
    padding-top: 10px;
}

h4 {
    font-size: 15px;
    position: relative;
    padding-top: 10%;
    color: #666;
}

.heading h1 {
    font-size: 50px;
    color: #000;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #FC611F;
}

.form-control {
    background: #f3f2f2;
    border-radius: 50px;
    margin-top: 10px;
}

.control-label {
    color: #666;
    margin-top: 30px;
}

.btn-primary,
.btn-danger {
    padding: 8px 24px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    margin-left: 40%;
}

.btn-primary {
    background-color: #C2C2C2;
}

.btn-danger {
    background-color: #C2C2C2;
}

.btn-primary:hover {
    background-color: #FF7426;
}

.btn-danger:hover {
    background-color: red;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
    .heading h1 {
        font-size: 40px;
    }

    .form-control {
        padding: 6px 20px;
        font-size: 12px;
    }
}

.container {
    background-color: white;
    border-radius: 4%;
    padding: 5% 10%;
    width: 90%;
    margin: 0% auto;
    text-align: start;

}

body {
    background-color: #fbf0d4;
}

.members {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.card .multi-button {
    z-index: 0;
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    border-radius: 100%;
    width: 0rem;
    height: 0rem;
    transform: translate(-50%, -50%);
    transition: .25s cubic-bezier(0.25, 0, 0, 1);
}

.card .multi-button button {
    display: grid;
    place-items: center;
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 100%;
    background: var(--background);
    color: var(--text);
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: .25s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0rem -.25rem var(--background);
}

.card .multi-button button:hover {
    background: var(--text);
    color: var(--background);
    box-shadow: 0 0 1rem -.25rem var(--background);
}

.card .multi-button button:first-child:nth-last-child(1) {
    left: 25%;
    top: 25%;
}

.card .multi-button button:first-child:nth-last-child(2),
.card .multi-button button:first-child:nth-last-child(2)~* {
    &:nth-child(1) {
        left: 37.5%;
        top: 18.75%;
    }

    &:nth-child(2) {
        left: 18.75%;
        top: 37.5%;
    }
}

.card .multi-button button:first-child:nth-last-child(3),
.card .multi-button button:first-child:nth-last-child(3)~* {
    &:nth-child(1) {
        left: 50%;
        top: 15.625%;
    }

    &:nth-child(2) {
        left: 25%;
        top: 25%;
    }

    &:nth-child(3) {
        left: 15.625%;
        top: 50%;
    }
}

.card .multi-button button:first-child:nth-last-child(4),
.card .multi-button button:first-child:nth-last-child(4)~* {
    &:nth-child(1) {
        left: 62.5%;
        top: 18.75%;
    }

    &:nth-child(2) {
        left: 37.5%;
        top: 18.75%;
    }

    &:nth-child(3) {
        left: 18.75%;
        top: 37.5%;
    }

    &:nth-child(4) {
        left: 18.75%;
        top: 62.5%;
    }
}

.card .container {
    display: flex;
    gap: 2rem;
}

.card:hover .multi-button,
.card .multi-button:focus-within {
    width: 10rem;
    height: 10rem;
}

.card {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    transition: .25s cubic-bezier(0.25, 0, 0, 1);
}

.card figure {
    margin: 0;
    padding: 0;
}

.card figure img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.card figcaption {
    padding: 10%;
    background-color: #FFFFFF;
}

.card .username {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
}

.confirm-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.confirm-btn:hover {
    background-color: #45a049;
}

#myModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.button-24 {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.button-24:hover,
.button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #FF4742;
}

.button-24:active {
    opacity: .5;
}