*{
    font-family: 'Roboto', sans-serif;
}

.circular-image {
    margin-top: 2%;
    width: 210px; 
    height: 200px;
    border-radius: 50%; 
    overflow: hidden; 
    border: 3px solid #000;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#photo {
    width: 200px;
    height: 200px;
    cursor: pointer;
    object-fit:cover;
  }


@media only screen and (max-width: 992px) {
    .container {
        background: #fbf0d4;
        width: auto;
        height: auto;
        margin: 0 auto;
        position: relative;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 2px 5px 20px
        rgba(119,119,119,.5);
        border-radius: 5px;
        list-style: none;
    }

    .option {
        align-items: center;
        display: flex;
        justify-content: center;
        padding:10px 0px;
    }
    
    .li {
        list-style: none;
    }
    
    nav .menu{
        gap: 10px;
      }
      
      .nav-con {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
      }
    
      .menu {
        display: none;
      }
      
      .menu li {
        list-style: none;
      }

      #dropdownMenu {
        display: inline-block;
        position: absolute;
        top: 2%;
        left: 3%;
        background-color: #ff7426;
        color: #fff;
        font-size: 15px;
        padding: 6px 15px;
        border: 1px solid transparent;
        border-radius: 20px;
      }
}

@media only screen and (min-width: 992px) {
    .container {
        background: #fbf0d4;
        width: auto;
        height: auto;
        margin: 0 auto;
        position: relative;
        margin-top: 1%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 2px 5px 20px
        rgba(119,119,119,.5);
        border-radius: 5px;
        list-style: none;
    }

.option {
    align-items: center;
    display: flex;
    justify-content: center;
    padding:10px 0px;
}

.li {
    list-style: none;
}

nav .menu{
    gap: 10px;
  }
  
  .nav-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }

  .menu {
    display: flex;
  }
  
  .menu li {
    list-style: none;
  }
  #dropdownMenu {
    display: none;
  }
  .textlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}
}

.tabShow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabShow h1{
    color: #ff7426;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 5%;

}

.tabShow h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5%;
}

#container2 {
    display: inline-block;
}

/* .textlist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
} */

.input{
    color: #6f6f6f;
    margin: 0;
    padding: 0;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 275px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 15%;
    background-color: white;
}

.button {
    background-color: #ff7426;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
  }

  .button:hover {
    transform: scale(1.1);
  }

.project_tabShow {
    display:block;
    justify-content: center;
    align-items: center;
}

.libraly_tabShow {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container2{
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#container3{
    display:none;
}

#saveButton, #cancelButton {
    display: none;
}

#textInput1 #textInput2{
    width: 200px;
}

.option_button {
    background-color: #ff7426;
    color: #fff;
    font-size: 20px;
    padding: 10px 30px;
    border: 1px solid transparent;
     border-radius: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    transition: background-color 0.3s ease;
}

.option_button.clicked {
    background-color: wheat;
  }

.card {
    background-color: #FFF;
    box-shadow: 0 0 0 1px rgba(#000, .05), 0 20px 50px 0 rgba(#000, .1);
    border-radius: 15px;
    padding: 1.25rem;
    position: relative;
    transition: .15s ease-in;
    margin-bottom: 5%;
    
    

    &:hover,
    &:focus-within {
        box-shadow: 0 0 0 2px #16C79A, 0 10px 60px 0 rgba(#000, .1);
        transform: translatey(-5px);
    }
}

.card-container {
    display: block;
    justify-content: space-between;
}

.card-image {
    width: 100%;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .25s ease;
}

.card-category {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    gap: .5rem;
    color: #ACACAC;
    font-weight: 600;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border: none;

    a {
        font-weight: 600;
        font-size: 19px;
        line-height: 30px;
        padding-right: 1rem;
        text-decoration: none;
        color: inherit;
        will-change: transform;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.icon-button {
    border: 0;
    background: transparent;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 1.25rem;
    transition: .25s ease;
    box-shadow: 0 0 0 1px rgba(#000, .05), 0 3px 8px 0 rgba(#000, .15);
    z-index: 1;
    cursor: pointer;
    color: #565656;

    svg {
        width: 1em;
        height: 1em;
    }

    &:hover,
    &:focus {
        background-color: #EC4646;
        color: #FFF;
    }
}

.card-footer {
    padding-top: 1.25rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: transparent;
}

.card-meta {
    display: flex;
    align-items: center;
    color: #787878;

    svg {
        flex-shrink: 0;
        width: 1em;
        height: 1em;
        margin-right: .5em;
    }
}

.rate {
    float: left;
    height: 16px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 25px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #FFA135;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #FFA135;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #FFA135;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-profile {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
}

.user-profile .name {
    font-weight: 500;
    font-size: 17px;
    line-height: 26.6px;
    letter-spacing: 2%;
    color: #353535;
}

.user-profile .role {
    font-weight: 400;
    font-size: 13px;
    color: #8E8E8E;
}

.member-container {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.member-container .member {
    color: #FF7426;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}

.card-button {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: #fff;
    padding: 5px 20px;
    border: none;
    border-radius: 96px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: darkred;
}

.pagination {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.pagebutton {
    width: 13px;
    height: 13px;
    float: left;
    margin-right: 20px;
    background-color: #C2C2C2;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease width;
}

.pagebutton:last-child {
    margin-right: 0;
}

.pagebutton.active {
    width: 40px;
    cursor: auto;
    background-color: #FF7426;
}


/* CSS */
.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}