@model tangti.Models.Blog
@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<h4>Blogs</h4>
<hr />
<h4>@ViewBag.Message</h4>

@* <div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" disabled />
            </div>
        </form>
    </div>
</div>

<div class="blog">
    <h1 class="title"></h1>
    <p class="published"><span>published at - </span></p>
    <div class="article">

    </div>
</div> *@

    <div class="banner">
        <img src="https://picsum.photos/id/287/250/300" alt="Mountains">
    </div>

    <div class="blog">
        <h1 class="title"></h1>
        <p class="published"><span>published at - </span></p>
        <div class="article">
            
        </div>
    </div>

    <h1 class="sub-heading">Read more</h1>

    <!-- blog section -->
    <section class="blogs-section">
        <div class="blog-card">
            <img src="https://picsum.photos/id/287/250/300" alt="Mountains">
            <h1 class="blog-title">Lorem ipsum dolor sit amet consectetur.</h1>
            <p class="blog-overview">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt incidunt fugiat quos porro repellat harum. Adipisci tempora corporis rem cum.</p>
            <a href="/" class="btn dark">read</a>
        </div>
    </section>