@model tangti.Models.Blog
@{
    ViewBag.Title = "Edit";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tangti</title>
    <link rel="stylesheet" href="~/css/createBlog.css" asp-append-version="true" />
</head>


<img src="https://assets-global.website-files.com/5f4457266e6bc413f94c5229/6077179e29d958aa332f42fa_a6377ac7-b3a3-468e-a4b5-64b77eee6a54_Functional%25252BWorkspace%25252BDesign.jpeg"
    alt="Room">
<div class="heading">
    <h1><span class='edit'>Edit</span> @Model.Title</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam illum quos distinctio, in nobis aliquid numquam
        architecto omnis unde incidunt. Repellat quis rem a illo magnam, doloremque facere aperiam nesciunt.</p>
    <p>
</div>


<div class='form'>
    <div class="card">
        <div class="row">
            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <input asp-for="Content" class="form-control" />
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <input id="userIDInput" asp-for="CreatedBy" class="form-control" type="hidden" />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" id="sendDataButton"  />
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('sendDataButton').addEventListener('click', function () {
        var data = localStorage.getItem('id');
        document.getElementById("userIDInput").value = data;
    });
</script>