@model List<tangti.Models.Blog>
@using tangti.Models
@{
    ViewBag.Title = "All Blogs";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tangti</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/blog.css" asp-append-version="true" />
</head>

<img src="https://assets-global.website-files.com/5f4457266e6bc413f94c5229/6077179e29d958aa332f42fa_a6377ac7-b3a3-468e-a4b5-64b77eee6a54_Functional%25252BWorkspace%25252BDesign.jpeg"
    alt="Room">
<div class="heading">
    <h1>Blogs</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam illum quos distinctio, in nobis aliquid numquam
        architecto omnis unde incidunt. Repellat quis rem a illo magnam, doloremque facere aperiam nesciunt.</p>
    <p>
        <a class='button-77' asp-action="Create" id='createBtn'>Create</a>
</div>

<div class="card-conatiner">
    <div class="card-grid">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <figure>
                    <img src="https://img.freepik.com/premium-photo/interior-background-technology-desk-wooden-lifestyle-workspace-contemporary-stylish-style-laptop-decor-generative-ai_163305-172173.jpg"
                        alt="Room">
                    <figcaption>
                        @Html.DisplayFor(modelItem => item.Title)
                        <div class="buttons">
                            <a class="btn" href='/Blog/Details/@item.Id'>Details</a>
                            <a class="btn" href='/Blog/Edit/@item.Id'>Edit</a>
                            <a class="btn" href='/Blog/Delete/@item.Id'>Delete</a>
                        </div>
                    </figcaption>
                    <div class="txt">
                        <h3 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h3>
                        <p class="card-description">@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                </figure>
            </div>
        }
    </div>
</div>

<script>
    const user_id = localStorage.getItem('id');

    if(user_id == null){
        document.getElementById('createBtn').style.display = 'none';
    }
</script>
