@model tangti.Models.Event
@{
    ViewBag.Title = "Create";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tangti</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/handleEvent.css" asp-append-version="true" />
</head>

<div class="heading">
    <h1>Create Event</h1>
</div>
<div class="container">
    <section class="form">
        <div class="form-container">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div> 
                
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" required  />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Category" class="control-label">Category:</label>
                    <select id="Category" name="Category" class="form-control">
                        @foreach (var category in ViewBag.Categories)
                        {
                            <option value="@category">@category</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label">Type:</label>
                    <select id="Type" name="Type" class="form-control">
                        <option value="Queue">Queue</option>
                        <option value="Close When full">Close When full</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="EnrollLimit" class="control-label"></label>
                    <input asp-for="EnrollLimit" class="form-control" required min="1" value = "1"/>
                    <span asp-validation-for="EnrollLimit" class="text-danger"></span>
                </div>
               
                <div class="form-group">
                    <label asp-for="EnrollDate.StartDate" class="control-label">Enroll Start date</label>
                    <input asp-for="EnrollDate.StartDate" class="form-control" required  />
                </div>
                <div class="form-group">
                    <label asp-for="EnrollDate.EndDate" class="control-label">Enroll end date</label>
                    <input asp-for="EnrollDate.EndDate" class="form-control" required />
                </div>

                <div class="form-group">
                    <label asp-for="EventDate.StartDate" class="control-label">Event Start Date</label>
                    <input asp-for="EventDate.StartDate" class="form-control" required  />
                </div>
                <div class="form-group">
                    <label asp-for="EventDate.EndDate" class="control-label">Event End Date</label>
                    <input asp-for="EventDate.EndDate" class="form-control" required   />
                </div>
                <input id="userIDInput" asp-for="CreatedBy" class="form-control" type="hidden" />
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" id="sendDataButton" />
                </div>
            </form>
    </section>
</div>
<script>
    document.getElementById('sendDataButton').addEventListener('click', function () {
        var data = localStorage.getItem('id');
        document.getElementById("userIDInput").value = data;



        //if image is null random base on category 
        var image = document.getElementById("Image").value;
        if (image == "") {
            var category = document.getElementById("Category").value;
            var image = document.getElementById("Image");
            switch (category) {
                case "✈️Travel and Outdoor":
                    image.value = "https://img.freepik.com/premium-photo/time-vacation-travel-travel-tourism-hiking-camping-outdoor-recreation-baggage-luggage-equipment_930683-3666.jpg";
                    break;
                case "🎉Social Activities":
                    image.value = "https://www.thegaragesociety.com/sites/default/files/blog-imgs/image1-2.png";
                    break;
                case "🚴Sports and Fitness":
                    image.value = "https://www.training.com.au/wp-content/uploads/Sports-Fitness-1.jpg";
                    break;
                case "🥬Health and Wellbeing":
                    image.value = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7CtB_kThLlueFbIAxUCCAKSReW_c8E7rOVIytmhu2M6Ws__5TwCrCEckLf11x9NJYMqQ&usqp=CAU";
                    break;
                case "💻Technology":
                    image.value = "https://www.columbiasouthern.edu/media/gtfbso4a/business-information-technology.jpg";
                    break;
                case "🎨Art and Culture":
                    image.value = "https://miro.medium.com/v2/resize:fit:960/1*8NSCzeT91w52QfFSpMYaVw.jpeg";
                    break;
                case "Others...":
                    image.value = "https://www.21kschool.com/th/wp-content/uploads/sites/2/2022/09/Top-5-Benefits-of-Co-Curricular-Activities-for-Students.png";
                    break;
                
            }
        }
    });

    
</script>