@model tangti.Models.Event
@using tangti.Models
@{
    ViewBag.Title = "Details";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/eventDetail.css" asp-append-version="true" />
</head>

<div class="box-area">
    <div class="banner-area">
    </div>
    <div class="content-area">
        <h5>UX UI Design</h5>
        <h2>Project 1</h2>
        <button class="event-status">
            is now openning
        </button>
        <div class="content-container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi unde necessitatibus voluptatem
                inventore ad. Molestias rerum enim, soluta quis at maxime, ducimus sed quia autem nisi suscipit,
                accusantium ut reiciendis.</p>
            <div class="card">
                <div class="card-details">
                    <p class="text-title">RUNS FROM</p>
                    <p class="text-body">Mar 9 - 10, 2024</p>
                </div>
                <div class="card-details">
                    <p class="text-title">HAPPENING</p>
                    <p class="text-body">Mar 20 - 21, 2024</p>
                </div>
                <div class="card-details">
                    <p class="text-title">Organiser</p>
                    <p class="text-body">Clara R. Altman</p>
                </div>
                <button class="join-button">Join Event</button>
            </div>
<<<<<<< HEAD
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="EventDate.StartDate" class="control-label"></label>
                <input asp-for="EventDate.StartDate" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="EventDate.EndDate" class="control-label"></label>
                <input asp-for="EventDate.EndDate" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="EventDate.StartDate" class="control-label"></label>
                <input asp-for="EventDate.StartDate" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="EventDate.EndDate" class="control-label"></label>
                <input asp-for="EventDate.EndDate" class="form-control" disabled />
            </div>
        </form>
        <a asp-action="Report" asp-route-id="@Model.Id">Report</a>
=======
        </div>
>>>>>>> 22a5137e8b2573b0514f6a2a7f227df0be26c92c
    </div>
</div>
</div>
</div>
</div>